.custom-button{
    height: auto;
    width: 60%;
    cursor: pointer;
    border: none;
    transition-duration: .3s;
    color: black;
    border-radius: 20px;
    margin: auto;
    float: center;
    background-color: #45b6fe;
    font-size: 1em;
    max-width: 130px;
    max-height: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}   


.custom-button.active{
    background-color: #daf0ff;
    color: rgb(76, 76, 212)
}

.custom-button.disabled{
    background-color: black;
}

.custom-button-name{
    font-size: 80%;
    position: static;
    padding: .5em;
}
