.custom-button{
    height: auto;
    cursor: pointer;
    border: none;
    transition-duration: .3s;
    color: white;
    opacity: 1;
    border-radius: 20px;
    margin: auto;
    float: center;
    background-color: rgb(24, 24, 116);
    font-size: 1em;
    max-width: 130px;
    max-height: 50px;
}   


.custom-button.active{
    background-color: white;
    color: rgb(24, 24, 116)
}

.custom-button.disabled{
    background-color: black;
}

.custom-button-name{
    font-size: auto;
    position: static;
    padding: .5em;
    left: 28px;
}
