.custom-button{
    height: auto;
    width: 60%;
    cursor: pointer;
    border: none;
    transition-duration: .5s;
    color: #daf0ff;
    border-radius: 20px;
    margin: auto;
    background-color: #0c3752;
    font-size: 1em;
    max-width: 130px;
    max-height: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}   


.custom-button.active{
    background-color: #daf0ff;
    color: #0c3752;
}

.custom-button-name{
    font-size: 80%;
    position: static;
    padding: .5em;
}
