@keyframes slideOver {
    0% {
        height: 10%;
        width: 10%;
    }
    50%{
        background-color: rgb(109, 109, 233);
    }
    100% {
        margin-left: 70%;
        background-color: rgb(20, 110, 88);
        border: solid rgb(20, 110, 88) 1px;
    }
  }

  @keyframes slideBack {
    0% {
        margin-left: 70%;
        background-color: rgb(20, 110, 88);
    }
    50%{
        background-color: rgb(109, 109, 233);
    }
    100% {
        background-color: rgb(20, 110, 88);
    }
  }

.loading-screen{
    height: 100vw;
    width: 100vw;
    padding-bottom: 65vw;
    padding-top: 5vw;
    background-color: #F8F8FF;
}

.loading-screen p{
    font-size: 8vh;
    padding: 0;
    margin: 0;
    font-family: 'Prata', serif;
}

.loading{
    padding-left: 5vh;
    position: fixed;
    top: 40%;
    left: 50%;
    width: 20vh;
    height: 20vh;
    margin-top: 10vh;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.ball{
    border: solid transparent 1px;
    height: 10%;
    width: 10%;
    background-color: transparent;
    border-radius: 100%;
    animation-duration: .8s;
    animation-name: slideOver;
    animation-timing-function: cubic-bezier(0.33, 0.44, 0.44, 1.64);
}

@mixin animation-change($bool) {
    @if $bool == true{
        animation-name: slideOver
    }
    @else {
        animation-name: slideBack
    }
    animation-delay: 0s;
    background-color: rgb(109, 109, 233);
}

@for $i from 0 to 5 {
    .ball.mod-#{$i} { animation-delay: .1s*$i; }
}

.ball.ball-fro{
    @include animation-change(false)
}

.ball.ball-to{
    @include animation-change(true)
}