.city-checks{
    height: auto;
    width: 100%;
    padding: 0;
    margin:auto;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: .4s;
    border-radius: 20px;
}

.city-checks:hover{
    color: white;
    transition-duration: 0s;
}

.city-checks.active{
    background-color: rgb(24, 24, 116);
    color: white
}

.city-drop{
    max-height: 0px;
    width: 200px;
    overflow: hidden;
    margin: auto;
    user-select: none;
    transition-duration: .8s;
    width: 50%
}