.review-box{
    height: 0px;
    width: 0px;
    border: solid black 1px;
    transition-duration: .6s;
    border-radius: 0%;
    opacity: 0;
    position: absolute;
    font-size: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.review-box p:first-child{
    cursor: pointer;
    opacity: .4;
    position: absolute;
    left: 7%;
    top: 2%;
}

.review-box p:first-child:hover{
    opacity: 1
}

.review-box.active{
    height: 350px;
    width: 350px;
    max-width: 100%;
    border-radius: 15%;
    opacity: 1;
    font-size: 17px;
    background-color: white;
    z-index: 50;
}

.review-box::-webkit-scrollbar {
    width: 0em;
  }
   
  .review-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .review-box::-webkit-scrollbar-thumb {
    background-color: rgb(38, 38, 109);
    outline: 1px solid slategrey;
  }