.detail-delete__symbol{
    color: red;
    cursor: pointer;
    font-size: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 17px;
}

.detail-delete__symbol.active{
    background-color: red;
    color: white;
}