.custom-button{
    width: 60%;
    height: 28px;
    cursor: pointer;
    border: none;
    transition-duration: .8s;
    color: white;
    opacity: 1;
    border-radius: 20px;
    margin: auto;
    float: center;
    background-color: rgb(24, 24, 116);
    font-size: 1em;
}   


.custom-button.active{
    transform: scale(1.1);
}

.custom-button.disabled{
    background-color: black;
}

.button_name{
    font-size: .6em;
    position: static;
    padding-top: .7em;
    margin-top: 26px;
    left: 28px;
}
