.nav-bar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 15%;
    position: fixed;
    z-index: 35;
    background-color: rgb(117, 204, 153);
    height: 85%;
    margin: 0;
    opacity: 1;
    transition-duration: .3s;
    overflow: hidden;
    padding-top: 8vh;
    min-width: 250px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.nav-bar.active{
    width: 0%;
    height: 0%;
    padding: 0%;
    min-width: 0px;
}

.block{
    position: fixed;
    z-index: 50;
    transition-duration: 1.5s;
    width: auto;
    height: 30px;
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer
  }

.line{
    border-radius: 20%;
    margin-top: 0px;
    width: 30px;
    height: 5px;
    background-color: rgb(76, 76, 212);
    transition-duration: .6s;
}

.line.active{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(76, 76, 212);
}

.line1{
    border-radius: 20%;
    margin-top: 5px;
    width: 30px;
    height: 5px;
    background-color: rgb(76, 76, 212);
    transition-duration: .6s;
}

.line1.active{
    transform: translate(0px, -30px);
    border-radius: 50%;
    margin-top: 0px;
    height: 30px;
    width: 30px;
    background-color: rgb(76, 76, 212);
}

.nav-login{
    text-decoration: none;
    color: white;
    transition-duration: .5s;
    font-family: 'Prata', serif;
    padding: 1vh;
    width: 100%;
    text-align: center
}

.nav-login p{
    cursor: pointer;
    width: 50px;
    position: absolute;
    left: 40%;
}

.nav-login.active{
    color: rgb(76, 76, 212)
}

.nav-logout{
    padding-top: -55px;
    width: 100%
}