.filter-checks{
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    max-width: auto;
}

.filter-checks p:hover{
    color: white;
    transition-duration: 0s;
}

.filter-checks.active{
    background-color: rgb(24, 24, 116);
    color: white
}

.filter-checkbox{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.filter-drop{
    max-height: 0px;
    overflow: hidden;
    margin: auto;
    user-select: none;
}