.resource-list{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: stretch;
    overflow: hidden;
    margin-top: 5vh;
}

.button-block{
    cursor: pointer
}

.button-block__spec{
    margin-left: 30%;
    margin-right: 30%
}