.resource-detail{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.left-detail{
    display: flex;
    flex-direction: column;
    padding: 3%;
    flex: 1 1 38%;
    max-width: auto
}

.left-detail h3{
    font-size: 8vh;
}

.left-detail img{
    border-radius: 0%;
}

.right-detail{
    font-size: 3vh;
    text-align: left;
    flex: 1 1 38%;
    max-width: auto;
    padding: 3%
}

.right-detail li{
    list-style-type: square;
}

.detail-layer{
    height: 100%;
    width: 98%;
    position: absolute;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.detail-reviews{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}