.resource-detail{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.left-detail{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    flex: 1 1 38%;
    max-width: auto
}

.left-detail h3{
    font-size: 8vh;
}

.left-detail img{
    border-radius: 0%;
}

.right-detail{
    font-size: 3vh;
    text-align: left;
    flex: 1 1 38%;
    max-width: auto
}

.right-detail li{
    list-style-type: square;
}