.detail-service{
    padding: 3%
}

.detail-service h3{
    cursor: pointer;
    user-select: none;
    padding-bottom: 1vh;
}

.detail-service h3:hover{
    color: rgb(76, 76, 212);
}

.detail-service__list{
    max-height: 0px;
    transition-duration: .7s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.detail-service__list li{
    padding: .3em
}

.detail-service__list.active{
    max-height: none;
    flex: 1;
}