.register{
    background-image: linear-gradient(rgb(109, 109, 233), white);
    height: 100%;
    padding-top: 5%
}

.register-form{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
}