.detail-add__symbol{
    color: rgb(76, 76, 212);
    cursor: pointer;
    font-size: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0em .2em 0em .25em;
    margin-right: .3em;
    transition-duration: .3s;
    border-radius: 50%
}

.detail-add__symbol.active{
    background-color: rgb(76, 76, 212);
    color: white;
}