@media screen and (max-width: 756px) {
    .detail-reviews {
      display: block;
    }
    .left-detail{
        flex: 1 1 45%;
    }
    
    .right-detail{
        flex: 1 1 45%;
    }
    .left-detail h3{
        font-size: 8vw;
    }
  }

  @media screen and (min-width: 756px) {
    .detail-reviews {
      display: flex;
      justify-content: space-between;
    }
    .left-detail{
        flex: 1 1 44%;
    }
    
    .right-detail{
        flex: 1 1 44%;
    }
    .left-detail h3{
        font-size: 5vh;
    }
  }

.detail-dynamic{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 100%;
    cursor: none
}

.resource-detail{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.left-detail{
    display: flex;
    flex-direction: column;
    padding: 3%;
    overflow-x: hidden;
}

.left-detail img{
    border-radius: 0%;
    margin: auto
}

.right-detail{
    font-size: 2.5vh;
    text-align: left;
    max-width: 100%;
    padding-right: 6%;
    padding-top: 6%
}

.right-detail li{
    list-style-type: square;
}

.detail-layer{
    height: 100%;
    width: 98%;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.detail-reviews{
    width: 100%;
    height: auto;
    flex-flow: row wrap;
    justify-content: left;
    padding: 3%;
}

.detail-reviews p{
    font-size: 10px;
    color: rgb(24, 24, 116);
    border-radius: 50%
}

.detail-service{
    padding: 3%
}

.detail-dynamic-data__time{
    opacity: .5;
    font-size: 10px;
}

.detail-default{
    height: 100vh;
    padding: 15vh
}