.resource-box{
    border: solid  rgb(117, 204, 153) 5px;
    box-shadow: none;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
    flex: 1 1 38%;
    padding: 3%;
    transition-duration: 1s;
    min-width: auto;
    max-width: 550px;
    font-family: 'Prata', serif;
    position: relative;
    z-index: 0;
}

.resource-box:hover{
    box-shadow: 0 15px 10px #777;
}

.resource-layer{
    height: 100%;
    width: 98%;
    position: absolute;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.resource-right ul{
    text-align: left;
    list-style-type: square;
}

.resource-left img{
    border-radius: 50%;
}

.resource-left{
    padding: 5%;
}

.resource-right{
    padding: 5%;
}

.resource-right__anchor{
    text-decoration: none;
    cursor: pointer
}

.resource-right__anchor.active{
    color: yellow
}