.resource-box{
    border: solid transparent 1px;
    box-shadow: 0 15px 10px #777;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
    flex: 1 1 38%;
    padding: 3%;
    cursor: pointer;
    transition-duration: 1s;
    min-width: auto;
    font-family: 'Prata', serif;
    position: none;
}

.resource-box:hover{
    background-color: rgb(117, 117, 207)
}

.layer{
    height: 100%;
    width: 98%;
    position: absolute;
    z-index: 10;
    opacity: 0
}

.resource-right ul{
    text-align: justify;
    list-style-type: square;
}

.resource-left img{
    border-radius: 50%;
}

.resource-left{
    padding: 5%;
}

.resource-right{
    padding: 5%;
}