.footer-box{
    display: flex;
    flex-flow: row wrap;
    background-color: #0c3752;
    font-family: 'Prata', serif;
    font-size: 2vh;
    height: 15vh;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    text-align: left;
    justify-content: space-between;
}

.footer-box__left a{
    text-decoration: none !important;
    color: white !important;
}

.footer-box__left p{
    padding: 1vh;
    cursor: pointer;
}


.footer-box__left p:hover{
    color: yellow
}

.footer-box__right{
    font-size: 1vh;
    padding: 3vh;
    color: white !important;
    cursor: default
}