.footer-box{
    display: flex;
    flex-flow: row wrap;
    background-color: #45b6fe;
    font-family: 'Prata', serif;
    font-size: 2vh;
    height: 15vh;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    text-align: left
}

.footer-box__left a{
    text-decoration: none !important;
    color: black !important;
}

.footer-box__left p{
    padding: 1vh;
    cursor: pointer;
}


.footer-box__left p:hover{
    color: yellow
}