.detail-text{
    width: 100%;
    font-family: 'Prata', serif;
    user-select: text;
    font-size: smaller;
}

.detail-add{
    display: flex;
}

.detail-add textarea{
    font-family: 'Prata', serif;
    font-weight: 700;
}

.detail-text__delete{
    display: flex
}