.nav-active p{
    color: #0c3752
}

.nav{
    text-decoration: none;
    color: white;
    transition-duration: .5s;
    font-family: 'Prata', serif;
    transition-duration: .5s;
}

.nav.active{
    color: #0c3752
}

.link-styled-block{
    width: 80%;
    margin-left: 10%;
}