.nav-active{
    border-bottom: solid rgb(15, 15, 110) 1px ;
}

.nav{
    text-decoration: none;
    color: white;
    transition-duration: .5s;
    font-family: 'Prata', serif;
    transition-duration: .5s;
}

.nav.active{
    color: rgb(191, 194, 24)
}

.link-styled-block{
    width: 80%;
    margin-left: 10%;
}