.nav-active p{
    color: rgb(76, 76, 212)
}

.nav{
    text-decoration: none;
    color: white;
    transition-duration: .5s;
    font-family: 'Prata', serif;
    transition-duration: .5s;
}

.nav.active{
    color: rgb(76, 76, 212)
}

.link-styled-block{
    width: 80%;
    margin-left: 10%;
}