.fa.fa-edit{
    height: 17px;
    cursor: pointer;
    font-size: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: green;
    background-color: white;
    padding: .4em .2em .2em .4em;
    transition-duration: .3s;
    border-radius: 50%
}

.fa.fa-edit.active{
    background-color: green;
    color: white
}