@media screen and (min-width: 600px) {
  .App{
    width: calc(100vw - .4vw);
  }
}

@media screen and (max-width: 600px) {
  .App{
    width: 100%
  }
}

.App {
  text-align: center;
  font-family: 'Prata', serif;
  font-weight: bold;
  height: calc(100% - 15vh);
  padding-top: 3vw;
  position: relative;
  padding-bottom: 15vh;
  min-height: 100%
}

.nav-banner{
  width: 100%;
  background-image: linear-gradient(#daf0ff, transparent);
  position: fixed;
  height: 70px;
  z-index: 5;
  opacity: .5;
}

textarea{
  font-family: 'Prata', serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  font-weight: 500;
  padding-bottom: 1px;
}

textarea:hover{
  border-bottom: 1px solid black;
}

textarea:focus{
  outline-style: ridge;
  border-bottom: 0px solid black;
  padding-bottom: 2px;
}