.contact-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 30%;
    margin-right: 30%;
}

.contact-page textarea{
    height: 10vw;
    width: 100%;
    resize: none;
}